name: CI
on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
    paths-ignore:
      - '**/*.md'
      - '**/*.txt'
      - 'doc/**'
      - 'volts/**'
      - '.github/**'
  pull_request:
    paths-ignore:
      - '**/*.md'
      - '**/*.txt'
      - 'doc/**'
      - 'volts/**'
      - '.github/**'

jobs:
  build:
    name: build-linux
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install build package dependencies
        run: |
          sudo apt-get update
          sudo apt-get install gcc-arm-none-eabi

      - name: Build dependencies
        run: |
          echo "Number of processors:" `nproc`
          make get-deps -j `nproc`

      - name: Build ccs32clara-chademo firmware
        run: |
          make clean all

      - name: Set build date
        id: set_date
        run: echo "date=$(date +'%Y%m%d')" >> $GITHUB_OUTPUT

      # --- Normal build ---
      - name: Build default firmware
        run: |
          make clean all

      - uses: actions/upload-artifact@v4
        with:
          name: ccs32clara-chademo-${{ steps.set_date.outputs.date }}-${{ github.run_number }}
          path: My407ccs2chademo.bin

      # --- AV1 build ---
      - name: Build AV1 firmware
        run: |
          export GITHUB_AV=1
          export GITHUB_APPEND_VER=-AV1
          make clean all

      - uses: actions/upload-artifact@v4
        with:
          name: ccs32clara-chademo-${{ steps.set_date.outputs.date }}-${{ github.run_number }}-AV1
          path: My407ccs2chademo.bin

      # --- SS build ---
      - name: Build SS firmware
        run: |
          export GITHUB_SS=1
          export GITHUB_APPEND_VER=-SS
          make clean all

      - uses: actions/upload-artifact@v4
        with:
          name: ccs32clara-chademo-${{ steps.set_date.outputs.date }}-${{ github.run_number }}-SS
          path: My407ccs2chademo.bin
          
      # --- V2X build ---
      - name: Build V2X firmware
        run: |
          export GITHUB_V2X=1
          export GITHUB_APPEND_VER=-V2X
          make clean all

      - uses: actions/upload-artifact@v4
        with:
          name: ccs32clara-chademo-${{ steps.set_date.outputs.date }}-${{ github.run_number }}-V2X
          path: My407ccs2chademo.bin

      - name: Add info to summary
        run: |
          echo "### Alternative function builds" >> $GITHUB_STEP_SUMMARY
          echo "- **AV1**: For target voltage 410v, use nominal voltage 380v instead of 355v. AV1 should be a better match for Leaf with 20-30kwh battery." >> $GITHUB_STEP_SUMMARY
          echo "- **SS**: Use a single chademo session, may work better with eg. Lexus." >> $GITHUB_STEP_SUMMARY
          echo "- **V2X**: Discharge support permanently activated. Should work equally well for charging, but some cars may not like it (speculation)." >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
      
# Unit tests are currently broken so don't build and run them for now
#- name: Build unit tests on host
#        run: |
#          make -C test
#
#      - name: Run unit tests on host
#        run: |
#          test/test_sine
