name: CI
on:
  push:
    paths-ignore:
      - '**/*.md'
      - '**/*.txt'
      - 'doc/**'
      - 'volts/**'
  pull_request:
    paths-ignore:
      - '**/*.md'
      - '**/*.txt'
      - 'doc/**'
      - 'volts/**'

jobs:
  build:
    name: build-linux
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install build package dependencies
        run: |
          sudo apt-get update
          sudo apt-get install gcc-arm-none-eabi

      - name: Build dependencies
        run: |
          echo "Number of processors:" `nproc`
          make get-deps -j `nproc`

      - name: Build ccs32clara-chademo firmware
        run: |
          make clean all

      - name: Set build date
        id: set_date
        run: echo "date=$(date +'%Y%m%d')" >> $GITHUB_OUTPUT

      # --- Normal build ---
      - name: Build normal firmware
        run: |
          make clean all

      - uses: actions/upload-artifact@v4
        with:
          name: ccs32clara-chademo-${{ steps.set_date.outputs.date }}-${{ github.run_number }}
          path: My407ccs2chademo.bin

      # --- AF1 build ---
      - name: Build AF1 firmware
        run: |
          export GITHUB_AF=1
          make clean all

      - uses: actions/upload-artifact@v4
        with:
          name: ccs32clara-chademo-${{ steps.set_date.outputs.date }}-${{ github.run_number }}-AF1
          path: My407ccs2chademo.bin

      - name: Add info to summary
        run: |
          echo "### Alternative function builds" >> $GITHUB_STEP_SUMMARY
          echo "- **AF1**: For target voltage 410v, use nominal voltage 380v instead of 355v. AF1 should be a better match for Leaf with 20-30kwh battery." >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
      
# Unit tests are currently broken so don't build and run them for now
#- name: Build unit tests on host
#        run: |
#          make -C test
#
#      - name: Run unit tests on host
#        run: |
#          test/test_sine

